Videos
pythonProject2/ml-1m/ratings2.dat
pythonProject2/ml-1m/ratings3.dat
pythonProject2/ml-1m/README
pythonProject2/ml-1m/README.txt
pythonProject2/ml-1m/tags.csv
pythonProject2/ml-1m/users.dat
pythonProject2/ml-1m/movies.dat
pythonProject2/ml-1m/movies.csv
pythonProject2/ml-1m/links.csv
pythonProject2/ml-1m/New Text Document.txt
Project3\.idea